{% extends 'dashboard/index.html' %} {% block body %}

<div class="row">
  <div class="col-12">
    {% for message in messages %}
    <div
      class="alert alert-outline-success text-gradient-success mb-0"
      role="alert"
    >
      <strong>{{message}}</strong>
    </div>
    {% endfor %}
    <div class="card">
      <div class="card-body">
        <div class="col-md-2 mb-2 ml-auto">
          <a href="{% url 'SoftwareCreate' %}"
            ><button
              type="button"
              class="btn btn-outline-purple btn-lg btn-block"
            >
              Add Software
            </button>
          </a>
        </div>

        <table
          id="datatable-buttons"
          class="table table-bordered dt-responsive nowrap"
          style="border-collapse: collapse; border-spacing: 0; width: 100%"
        >
          <thead>
            <tr>
                <th>Name</th>
                <th>Brand</th>
                {% comment %} <th>Category</th> {% endcomment %}
                <th>Subcategory</th>
                <th>Barcode</th>
                <th>Serial</th>
                {% comment %} <th>Vendor</th> {% endcomment %}
                <th>Purchased On</th>
                <th>Warranty Expiry</th>
                <th>TPM Expiry</th>
                <th>Status</th>
                <th>Location</th>
                <th>Assigned To</th>
                
            </tr>
          </thead>

          <tbody>
            {% for hardware in hardware %}
            <tr>
              <td>{{hardware.name }}</td>
              <td>{{hardware.brand }}</td>
              {% comment %} <td>{{hardware.category }}</td> {% endcomment %}
              <td>{{hardware.subcategory }}</td>
              <td>{{hardware.barcode }}</td>
              <td>{{hardware.serial }}</td>
              {% comment %} <td>{{hardware.vendor }}</td> {% endcomment %}
              <td>{{hardware.purchased_on }}</td>
              <td>{{hardware.warranty_expiry }}</td>
              <td>{{hardware.tpm_expiry }}</td>
              <td>{{hardware.status }}</td>
              <td>{{hardware.location }}</td>
              <td>{{hardware.assigned_to }}</td>

              {% comment %}
              <td>
                <a href="{% url 'UserUpdate' software.pk %}"
                  ><button class="btn btn-outline-purple btn-lg btn-block">
                     edit
                  </button></a
                >
              </td>{% endcomment %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- end col -->
</div>
<!-- end row -->

{% endblock body %}
