{% extends 'dashboard/index.html' %}
{% block body %}

<div class="row">
    <div class="col-12">
        {% for message in messages %}
        <div class="alert  alert-outline-success text-gradient-success mb-0" role="alert">
            <strong>{{message}}</strong>
        </div>  
        {% endfor %}
        <div class="card">

            <div class="card-body">
                <div class = " col-md-2 mb-2 ml-auto">
                <a href="{% url 'SoftwareCreate' %}"><button type="button" class=" btn btn-outline-purple btn-lg btn-block">Add Software</button>
                </a></div>

                <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Software Type</th>
                        <th>Purchased On</th>
                        <th>Expiry</th>
                        <th>Action</th>
                        
                    </tr>
                    </thead>


                    <tbody>
                        {% for software in software  %}
                    <tr>
                        <td>{{software.name}}</td>
                        <td>{{software.softwaretype}}</td>
                        <td>{{software.purchased_on}}</td>
                        <td>{{software.expiry}}</td>
                        <td> <a href="{% url 'SoftwareUpdate' software.pk %}"><button class = "btn btn-outline-purple btn-lg btn-block">
                            edit</button></a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->

{% endblock body %}